*
{
margin:0px;
padding:0px;
}
body{
	background:#333;}
.header{
	width:980px;
	margin:0 auto;
	height:80px;
	top:10px;
	margin-top:-20px;
}
.header-left{
	width:600px;
	height:80px;
	float:left;
}
.header-right{
	width:380px;
	height:80px;
	float:left;
}

.p-logo{
	height:80px;
	width:40%;
	float:left;
	}
	
.logo img{
	width:100%;
	height:80px;
	}
.p-search{
	height:80px;
	width:60%;
	float:right;
	}
.search{
	background-color:#FFF;
	float:right;
	margin-top:25px;
	height:30px;
	border-radius:5px;
}

.search button{
	margin-right:8px;
	border:0px;
	background-color:#FFF;
	}
.search form input{
	height:30px;
	padding-left:10px;
	outline:none;
	text-decoration:none;
	border-radius:5px;
	background-color:#FFF;	
	border:0px;
	}

.p-account{
	width:40%;
	height:100%;
	float:right;
		}	
.account button{
	width:110px;
	height:45px;
	margin:15 0 0 40;
	}
.link{
	margin:30 0 0 20px;	
	}	
.p-link{
	float:left;
	width:60%;
	height:100%;
	}	
.link a{
	margin-left:10px;
}
#menu ul{
	text-align:center;
			}
#menu1
{
	width:500px;
}
#menu2
{
	width:620px;
}
#menu3
{
	width:495px;
}
#menu4
{
	width:495px;
}
.float-left{
	float:left;
}
#menu ul li{
	display:inline-block;
	width:105px;
	height:40px;
	line-height:40px;
	position:relative;			
}
#menu ul li ul li ul li{
	width:120px;
					
}
.sub-menu{				
	background:#333;
	height:330px;
}
#menu .sub-menu{
	display:none;
	position:absolute;
	text-align:left;
	}
#menu .sub-menu li{
	text-align:center;
}
#menu a{
	display:block;
	text-decoration:none;
	height:40px;
	color:#FFF;
}
#menu a:hover{
	background:#FFF;
	color:#000;
}
#menu li:hover .sub-menu{
	display:block;
	z-index:9999;
	}
#menu{
	width:980px;
	margin:0 auto;
	}
.product-1{
	width:100%;
	height:270px;
	}
.title-1{
	padding-top:30px;
	width:100%;
	}
.title-1 a{
	font-size:26px;
	text-decoration:none;
	font-weight:200;
	}
.bxh{
	width:100%;
	padding-top:30px;
	padding-bottom:20px;
	padding-left:20px;
	}
.bxh a{
	font-size:26px;
	text-decoration:none;
	font-weight:200;
	}
.box{
	height:250px;
	}
	
.p-box{
	margin-top:20px;
	width:25%;
	height:250px;
	display:inline-block;
	}
	
.box a img{
	width:100%;
	height:70%;
	}	
.box div{
	height:30%;
	width:100%;
	}
.a1{
	display:block;
	padding-top:5px;
	padding-left:5px;
	text-decoration:none;
	}
.main{
	width:980px;
	margin:0 auto;
	}
.main-conten{
	width:70%;
	float:left;
	}
#sidebar{
	width:30%;
	float:right;
	}
.side{
	width:100%;
	}
.side-1{
	color:#FFF;
	height:90px;
	border-top:solid 1px #000000;
}
.side-2{
	float:left;
	width:20%;
	font-size:24px;
	padding-top:25px;
	padding-left:15px;
	}
.side-3{
	padding-left:10px;
	float:left;
	width:65%;
	padding-top:10px;
	}
.side-4{
	float:right;
	width:10%;
}
.side-3 a{
	display:block;
	padding-top:5px;
	text-decoration:none;
	}
.product-1 a{
	text-decoration:none;}
#footer{
	background-color:#CCC;
	width:980px;
	margin:0 auto;
	margin-top:50px;
	}
.box div a{
	width:100%;
	}
.clear{
	clear:both;}
.menuphu{
	color:#FFF;
    font-weight: 300;
	margin-left:40px;
	font-size:26px;
	font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
	}