*
{
margin:0px;
padding:0px;
}
body{
	background:#333;
	font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
	font-size:15px;
	}
.header{
	width:980px;
	margin:0 auto;
	height:80px;
	top:10px;
	margin-top:-20px;
}
.header-left{
	width:650px;
	height:80px;
	float:left;
}
.header-right{
	width:330px;
	height:80px;
	float:left;
}

.p-logo{
	height:80px;
	width:40%;
	float:left;
	}
	
.logo img{
	width:100%;
	height:60px;
	}
.p-search{
	height:80px;
	width:60%;
	float:right;
	}
.search{
	background-color:#FFF;
	float:right;
	margin-top:25px;
	height:30px;
	border-radius:5px;
}

.search button{
	margin-right:8px;
	border:0px;
	background-color:#FFF;
	}
.search form input{
	height:30px;
	padding-left:10px;
	outline:none;
	text-decoration:none;
	border-radius:5px;
	background-color:#FFF;	
	border:0px;
	}

.p-account{
	width:40%;
	height:100%;
	float:right;
		}	
.account button{
	width:110px;
	height:40px;
	margin:20 0 0 40;
	}
.link{
	margin:30 0 0 30px;	
	}	
.p-link{
	float:left;
	width:60%;
	height:100%;
	}	
.link a{
	margin-left:10px;
}
#menu ul{
	text-align:center;
;
			}
#menu1
{
	width:500px;
}
#menu2
{
	width:620px;
}
#menu3
{
	width:495px;
}
#menu4
{
	width:495px;
}
.float-left{
	float:left;
}
#menu ul li{
	display:inline-block;
	width:105px;
	height:40px;
	line-height:40px;
	position:relative;			
}
#menu ul li ul li ul li{
	width:120px;
					
}
.sub-menu{				
	background:#222;
	height:330px;
}
#menu .sub-menu{
	display:none;
	position:absolute;
	text-align:left;
	}
#menu .sub-menu li{
	text-align:center;
}
#menu a{
	display:block;
	text-decoration:none;
	height:40px;
	color:#FFF;
}
#menu a:hover{
	background:#FFF;
	color:#000;
}
#menu li:hover .sub-menu{
	display:block;
	z-index:9999;
	}
#menu{
	width:980px;
	margin:0 auto;
	background-color:#000;
	}
.product-1{
	width:100%;
	display:block;
	}
.title-1{
	padding-top:30px;
	width:100%;
	}
.title-1 a{
	font-size:26px;
	text-decoration:none;
	font-weight:200;
	}
.bxh{
	width:100%;
	padding-top:30px;
	padding-bottom:20px;
	padding-left:20px;
	}
.bxh a{
	font-size:26px;
	text-decoration:none;
	font-weight:200;
	}
.box{
	height:340px;
	}
	
.p-box{
	margin-top:20px;
	height:340px;
	}

.box a img{
	width:100%;
	height:75%;
	}	
.box div{
	height:25%;
	width:100%;
	}
.a1{
	display:block;
	padding-top:10px;
	padding-left:5px;
	text-decoration:none;
	}
.main{
	margin:0 auto;
	width:970px;
		}
/* Dành cho điện thoại 
@media all and (max-width: 480px) {
	main{
		width:500px;}
}
 
 Dành cho máy tính bảng
@media all and (max-width: 1024px) {
 main{
		width:500px;}
}
 */
.main-conten{
	width:75%;
	float:left;
	}
.loibaihat{
	padding-top:20px;
	padding-bottom:20px;
	width:94%;
	background-color:#222;
	padding-left:20px;
	margin-top:50px;
	color:#FFF;}
#sidebar{
	width:25%;
	float:right;
	}
.side{
	width:100%;
	}
.side-1{
	color:#FFF;
	border-top:solid 1px #000000;
}
.side-1 ul{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	list-style-type:none;
}

.side-1 ul li{
	padding-top:10px;
}
.side-1 ul li a{
	padding-left:15px;
}

.product-1 a{
	text-decoration:none;}
#footer{
	background-color:#000;
	width:980px;
	margin:0 auto;
	margin-top:50px;
	height:50px;
	padding-top:20px;
	}
.footer-1{
	padding-left:200px;
	text-align:center;
	display:inline-block;
	}
.footer-1 a{
	text-decoration:none;
	}
.box div a{
	width:100%;
	}
.clear{
	clear:both;}
